Der	ART	die
Senat	NN	Senat
von	APPR	von
Berlin	NE	Berlin
WiTechForsch	VVFIN	<unknown>
IV	NE	IV
B	NE	B
1	CARD	1
Ja	NN	Ja
Telefon	NN	Telefon
:	$.	:
90	CARD	90
13	CARD	13
(	$(	(
9	CARD	9
13	CARD	13
)	$(	)
7456	CARD	@card@
An	APPR	an
das	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
von	APPR	von
Berlin	NE	Berlin
über	APPR	über
Senatskanzlei	NN	Senatskanzlei
-	$(	-
G	NN	G
Sen	NE	Sen
-	$(	-
Vorlage	NN	Vorlage
-	$(	-
zur	APPRART	zu
Kenntnisnahme	NN	Kenntnisnahme
-	$(	-
des	ART	die
Senats	NN	Senat
von	APPR	von
Berlin	NE	Berlin
über	APPR	über
die	ART	die
Zulassung	NN	Zulassung
einer	ART	eine
Ausnahme	NN	Ausnahme
für	APPR	für
die	ART	die
Nebentätigkeit	NN	Nebentätigkeit
von	APPR	von
Senatsmitgliedern	NN	Senatsmitglied
Der	ART	die
Senat	NN	Senat
legt	VVFIN	legen
nachstehende	ADJA	nachstehend
Vorlage	NN	Vorlage
dem	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
zur	APPRART	zu
Besprechung	NN	Besprechung
vor	PTKVZ	vor
.	$.	.
Der	ART	die
Senat	NN	Senat
teilt	VVFIN	teilen
dem	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
mit	PTKVZ	mit
,	$,	,
dass	KOUS	dass
er	PPER	er
für	APPR	für
die	ART	die
Senatorin	NN	Senatorin
für	APPR	für
Wirtschaft	NN	Wirtschaft
,	$,	,
Technologie	NN	Technologie
und	KON	und
Forschung	NN	Forschung
,	$,	,
Cornelia	NE	Cornelia
Yzer	NE	<unknown>
,	$,	,
sowie	KON	sowie
den	ART	die
Senator	NN	Senator
für	APPR	für
Stadtentwicklung	NN	Stadtentwicklung
und	KON	und
Umwelt	NN	Umwelt
,	$,	,
Michael	NE	Michael
Müller	NE	Müller
,	$,	,
eine	ART	eine
Ausnahme	NN	Ausnahme
für	APPR	für
die	ART	die
Zugehörigkeit	NN	Zugehörigkeit
zum	APPRART	zu
Verwaltungsrat	NN	Verwaltungsrat
der	ART	die
Investitionsbank	NN	Investitionsbank
Berlin	NE	Berlin
(	$(	(
IBB	NN	<unknown>
)	$(	)
zugelassen	VVPP	zulassen
hat	VAFIN	haben
.	$.	.
Nach	APPR	nach
§	NN	§
6	CARD	6
Abs.	NN	Abs.
1	CARD	1
Satz	NN	Satz
2	CARD	2
des	ART	die
Senatorengesetzes	NN	Senatorengesetz
(	$(	(
SenG	NE	Seng
)	$(	)
in	APPR	in
der	ART	die
Fassung	NN	Fassung
vom	APPRART	von
6	CARD	6
.	$.	.
Januar	NN	Januar
2000	CARD	2000
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
221	CARD	@card@
)	$(	)
,	$,	,
zuletzt	ADV	zuletzt
geändert	VVPP	ändern
durch	APPR	durch
Gesetz	NN	Gesetz
vom	APPRART	von
19	CARD	19
.	$.	.
März	NN	März
2009	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
70	CARD	70
)	$(	)
,	$,	,
dürfen	VMFIN	dürfen
die	ART	die
Mitglieder	NN	Mitglied
des	ART	die
Senats	NN	Senat
weder	KON	weder
der	ART	die
Leitung	NN	Leitung
noch	ADV	noch
dem	ART	die
Aufsichtsrat	NN	Aufsichtsrat
,	$,	,
Verwaltungsrat	NN	Verwaltungsrat
oder	KON	oder
einem	ART	eine
sonstigen	ADJA	sonstig
Organ	NN	Organ
oder	KON	oder
Gremium	NN	Gremium
eines	ART	eine
auf	APPR	auf
Erwerb	NN	Erwerb
gerichteten	ADJA	gerichtet
Unternehmens	NN	Unternehmen
angehören	VVFIN	angehören
.	$.	.
Der	ART	die
Senat	NN	Senat
kann	VMFIN	können
gemäß	APPR	gemäß
§	NN	§
6	CARD	6
Abs.	NN	Abs.
2	CARD	2
Satz	NN	Satz
1	CARD	1
SenG	NN	<unknown>
Ausnahmen	NN	Ausnahme
zulassen	VVINF	zulassen
,	$,	,
wenn	KOUS	wenn
die	ART	die
Wahl	NN	Wahl
oder	KON	oder
Entsendung	NN	Entsendung
im	APPRART	in
öffentlichen	ADJA	öffentlich
Interesse	NN	Interesse
liegt	VVFIN	liegen
.	$.	.
Die	ART	die
IBB	NN	<unknown>
ist	VAFIN	sein
gemäß	APPR	gemäß
§	NN	§
5	CARD	5
Abs.	NN	Abs.
1	CARD	1
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
(	$(	(
IBB-Gesetz	NN	<unknown>
)	$(	)
die	ART	die
Struktur-	TRUNC	Struktur-
und	KON	und
Förderbank	NN	<unknown>
des	ART	die
Landes	NN	Land
Berlin	NE	Berlin
.	$.	.
Sie	PPER	Sie|sie
unterstützt	VVFIN	unterstützen
das	ART	die
Land	NN	Land
Berlin	NE	Berlin
bei	APPR	bei
der	ART	die
Erfüllung	NN	Erfüllung
seiner	PPOSAT	sein
öffentlichen	ADJA	öffentlich
Aufgaben	NN	Aufgabe
.	$.	.
Im	APPRART	in
Rahmen	NN	Rahmen
dieser	PDAT	dies
Aufgabe	NN	Aufgabe
betreibt	VVFIN	betreiben
die	ART	die
IBB	NN	<unknown>
Fördergeschäfte	NN	<unknown>
,	$,	,
in	APPR	in
erster	ADJA	erst
Linie	NN	Linie
durch	APPR	durch
die	ART	die
Gewährung	NN	Gewährung
von	APPR	von
Darlehen	NN	Darlehen
,	$,	,
Zuschüssen	NN	Zuschuss
und	KON	und
anderen	PIS	andere
Finanzierungsformen	NN	Finanzierungsform
.	$.	.
Es	PPER	es
ist	VAFIN	sein
somit	ADV	somit
im	APPRART	in
dringenden	ADJA	dringend
öffentlichen	ADJA	öffentlich
Interesse	NN	Interesse
des	ART	die
Landes	NN	Land
Berlin	NE	Berlin
,	$,	,
wenn	KOUS	wenn
dem	ART	die
Verwaltungsrat	NN	Verwaltungsrat
auch	ADV	auch
Mitglieder	NN	Mitglied
des	ART	die
Senats	NN	Senat
angehören	VVFIN	angehören
.	$.	.
Die	ART	die
Amtszeit	NN	Amtszeit
des	ART	die
amtierenden	ADJA	amtierend
Verwaltungsrats	NN	Verwaltungsrat
ist	VAFIN	sein
abgelaufen	VVPP	ablaufen
.	$.	.
Der	ART	die
Verwaltungsrat	NN	Verwaltungsrat
der	ART	die
IBB	NN	<unknown>
besteht	VVFIN	bestehen
gemäß	APPR	gemäß
§	NN	§
12	CARD	12
Abs.	NN	Abs.
1	CARD	1
IBB-Gesetz	NN	<unknown>
aus	APPR	aus
insgesamt	ADV	insgesamt
neun	CARD	neun
Mitgliedern	NN	Mitglied
,	$,	,
von	APPR	von
denen	PRELS	die
sechs	CARD	sechs
vom	APPRART	von
Senat	NN	Senat
und	KON	und
die	ART	die
übrigen	ADJA	übrig
drei	CARD	drei
von	APPR	von
der	ART	die
Personalvertretung	NN	Personalvertretung
zu	PTKZU	zu
bestellen	VVINF	bestellen
sind	VAFIN	sein
.	$.	.
Gemäß	APPR	gemäß
§	NN	§
6	CARD	6
Abs.	NN	Abs.
2	CARD	2
Satz	NN	Satz
2	CARD	2
SenG	NN	<unknown>
wird	VAFIN	werden
dem	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
hiervon	PAV	hiervon
Mitteilung	NN	Mitteilung
gemacht	VVPP	machen
.	$.	.
-	$(	-
2	CARD	2
-	$(	-
Kostenauswirkungen	NN	<unknown>
auf	APPR	auf
Privathaushalte	NN	Privathaushalt
und/oder	KON	und/oder
Wirtschaftsunternehmen	NN	Wirtschaftsunternehmen
Keine	PIAT	keine
.	$.	.
Auswirkungen	NN	Auswirkung
auf	APPR	auf
die	ART	die
Zusammenarbeit	NN	Zusammenarbeit
mit	APPR	mit
dem	ART	die
Land	NN	Land
Brandenburg	NE	Brandenburg
:	$.	:
Keine	PIAT	keine
.	$.	.
Rechtsgrundlagen	NN	Rechtsgrundlage
:	$.	:
§	NN	§
6	CARD	6
Abs.	NN	Abs.
2	CARD	2
des	ART	die
Senatorengesetzes	NN	Senatorengesetz
in	APPR	in
der	ART	die
Fassung	NN	Fassung
vom	APPRART	von
06	CARD	@card@
.	$.	.
Januar	NN	Januar
2000	CARD	2000
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
221	CARD	@card@
)	$(	)
,	$,	,
zuletzt	ADV	zuletzt
geändert	VVPP	ändern
durch	APPR	durch
Art.	NN	Art.
XII	NE	<unknown>
des	ART	die
Dienstrechtsänderungsgesetzes	NN	<unknown>
vom	APPRART	von
19	CARD	19
.	$.	.
März	NN	März
2009	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
70	CARD	70
,	$,	,
110	CARD	110
)	$(	)
;	$.	;
§	NN	§
12	CARD	12
Abs.	NN	Abs.
1	CARD	1
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
vom	APPRART	von
25	CARD	25
.	$.	.
Mai	NN	Mai
2004	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
226	CARD	@card@
)	$(	)
,	$,	,
zuletzt	ADV	zuletzt
geändert	VVPP	ändern
durch	APPR	durch
Art.	NN	Art.
II	CARD	II
des	ART	die
Gesetzes	NN	Gesetz
zur	APPRART	zu
Änderung	NN	Änderung
zuständigkeitsrechtlicher	ADJA	<unknown>
Vorschriften	NN	Vorschrift
vom	APPRART	von
3	CARD	3
.	$.	.
Februar	NN	Februar
2010	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
45	CARD	45
,	$,	,
47)	VVFIN	<unknown>
.	$.	.
Auswirkungen	NN	Auswirkung
auf	APPR	auf
den	ART	die
Haushaltsplan	NN	Haushaltsplan
und	KON	und
die	ART	die
Finanzplanung	NN	Finanzplanung
:	$.	:
a	FM	a
)	$(	)
Auswirkungen	NN	Auswirkung
auf	APPR	auf
Einnahmen	NN	Einnahme
und	KON	und
Ausgaben	NN	Ausgabe
:	$.	:
Gemäß	APPR	gemäß
§	NN	§
7	CARD	7
Abs.	NN	Abs.
2	CARD	2
SenG	NN	<unknown>
sind	VAFIN	sein
die	ART	die
für	APPR	für
die	ART	die
Tätigkeit	NN	Tätigkeit
im	APPRART	in
Aufsichtsrat	NN	Aufsichtsrat
,	$,	,
Verwaltungsrat	NN	Verwaltungsrat
oder	KON	oder
in	APPR	in
einer	ART	eine
sonstigen	ADJA	sonstig
Einrichtung	NN	Einrichtung
an	APPR	an
ein	ART	eine
Mitglied	NN	Mitglied
des	ART	die
Senats	NN	Senat
gezahlten	ADJA	gezahlt
Vergütungen	NN	Vergütung
unverzüglich	ADJD	unverzüglich
nach	APPR	nach
Ablauf	NN	Ablauf
eines	ART	eine
jeden	PIAT	jede
Kalenderjahres	NN	Kalenderjahr
an	APPR	an
Berlin	NE	Berlin
abzuführen	VVIZU	abführen
,	$,	,
soweit	KOUS	soweit
sie	PPER	sie
den	ART	die
zulässigen	ADJA	zulässig
Pauschalbetrag	NN	Pauschalbetrag
gemäß	APPR	gemäß
§	NN	§
6	CARD	6
der	ART	die
Verordnung	NN	Verordnung
über	APPR	über
die	ART	die
Nebentätigkeiten	NN	Nebentätigkeit
der	ART	die
Beamten	NN	Beamter
(	$(	(
Nebentätigkeitsverordnung	NN	Nebentätigkeitsverordnung
vom	APPRART	von
12	CARD	12
.	$.	.
August	NN	August
1988	CARD	1988
,	$,	,
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
1491	CARD	@card@
,	$,	,
1948	CARD	1948
)	$(	)
übersteigen	VVFIN	übersteigen
.	$.	.
b	ADJA	<unknown>
)	$(	)
Personalwirtschaftliche	NN	<unknown>
Auswirkungen	NN	Auswirkung
:	$.	:
Keine	PIAT	keine
.	$.	.
Berlin	NE	Berlin
,	$,	,
den	ART	die
28	CARD	28
.	$.	.
Januar	NN	Januar
2014	CARD	@card@
Der	ART	die
Senat	NN	Senat
von	APPR	von
Berlin	NE	Berlin
Klaus	NE	Klaus
Wowereit	NE	<unknown>
Cornelia	NE	Cornelia
Y	NN	Y
z	ADJA	<unknown>
e	NN	E
r	VVFIN	<unknown>
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
.	$.	.
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
.	$.	.
Regierender	ADJA	regierender
Bürgermeister	NN	Bürgermeister
Senatorin	NN	Senatorin
für	APPR	für
Wirtschaft	NN	Wirtschaft
,	$,	,
Technologie	NN	Technologie
und	KON	und
Forschung	NN	Forschung
