Der	ART	die
Senat	NN	Senat
von	APPR	von
Berlin	NE	Berlin
WiTechForsch	VVFIN	<unknown>
IV	NE	IV
D	NN	D
26	CARD	26
9013	CARD	@card@
(	$(	(
913	CARD	@card@
)	$(	)
8595	CARD	@card@
An	APPR	an
das	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
von	APPR	von
Berlin	NE	Berlin
über	APPR	über
Senatskanzlei	NN	Senatskanzlei
G	NN	G
Sen	NE	Sen
Vorlage	NN	Vorlage
zur	APPRART	zu
Kenntnisnahme	NN	Kenntnisnahme
des	ART	die
Senats	NN	Senat
von	APPR	von
Berlin	NE	Berlin
über	APPR	über
Neuauflage	NN	Neuauflage
des	ART	die
KMU-Fonds	NN	<unknown>
bei	APPR	bei
der	ART	die
Investitionsbank	NN	Investitionsbank
Berlin	NE	Berlin
(	$(	(
IBB	NN	<unknown>
)	$(	)
in	APPR	in
der	ART	die
EFRE-Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
Der	ART	die
Senat	NN	Senat
legt	VVFIN	legen
nachstehende	ADJA	nachstehend
Vorlage	NN	Vorlage
dem	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
zur	APPRART	zu
Besprechung	NN	Besprechung
vor	PTKVZ	vor
:	$.	:
A.	APPRART	am
Begründung	NN	Begründung
Die	ART	die
Investitionsbank	NN	Investitionsbank
Berlin	NE	Berlin
(	$(	(
IBB	NN	<unknown>
)	$(	)
ist	VAFIN	sein
mit	APPR	mit
Inkrafttreten	NN	Inkrafttreten
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
vom	APPRART	von
25.05.2004	CARD	@card@
am	APPRART	an
01.09.2004	CARD	@card@
wirtschaftlich	ADJD	wirtschaftlich
rückwirkend	ADJD	rückwirkend
zum	APPRART	zu
01.01.2004	CARD	@card@
aus	APPR	aus
der	ART	die
Landesbank	NN	Landesbank
Berlin	NE	Berlin
herausgelöst	VVPP	herauslösen
und	KON	und
als	KOKOM	als
selbstständige	ADJA	selbständig
Landesförderbank	NN	<unknown>
entsprechend	ADJD	entsprechend
der	ART	die
Verständi-gung	NN	<unknown>
II	CARD	II
zwischen	APPR	zwischen
der	ART	die
Bundesrepublik	NN	Bundesrepublik
Deutschland	NE	Deutschland
und	KON	und
der	ART	die
Europäischen	ADJA	europäisch
Union	NN	Union
vom	APPRART	von
27.03.2002	CARD	@card@
in	APPR	in
der	ART	die
Rechtsform	NN	Rechtsform
einer	ART	eine
Anstalt	NN	Anstalt
öffentlichen	ADJA	öffentlich
Rechts	NN	Recht
fortgeführt	VVPP	fortführen
.	$.	.
Entsprechend	APPR	entsprechend
Verständigung	NN	Verständigung
II	CARD	II
enthalten	VVPP	enthalten
§	NN	§
5	CARD	5
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
und	KON	und
§	NN	§
4	CARD	4
der	ART	die
Sat-zung	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
vom	APPRART	von
02.09.2004	CARD	@card@
(	$(	(
in	APPR	in
Kraft	NN	Kraft
getreten	VVPP	treten
am	APPRART	an
15.09.04	CARD	@card@
;	$.	;
GVBl	NE	<unknown>
.	$.	.
S.	ADV	s.
372	CARD	@card@
)	$(	)
eine	ART	eine
abschlie-ßende	ADJA	<unknown>
Auflistung	NN	Auflistung
der	ART	die
Aufgaben	NN	Aufgabe
und	KON	und
möglichen	ADJA	möglich
Tätigkeitsfelder	NN	Tätigkeitsfeld
der	ART	die
IBB	NN	<unknown>
.	$.	.
§	NN	§
6	CARD	6
Abs.	NN	Abs.
4	CARD	4
des	ART	die
Inves-titionsbankgesetzes	NN	<unknown>
und	KON	und
entsprechend	ADJD	entsprechend
§	NN	§
5	CARD	5
der	ART	die
Satzung	NN	Satzung
sehen	VVFIN	sehen
vor	PTKVZ	vor
,	$,	,
dass	KOUS	dass
der	ART	die
Senat	NN	Senat
von	APPR	von
Berlin	NE	Berlin
darüber	PAV	darüber
entscheidet	VVFIN	entscheiden
,	$,	,
welche	PRELS	welche
konkreten	ADJA	konkret
Aufgaben	NN	Aufgabe
die	ART	die
IBB	NN	<unknown>
tatsächlich	ADJD	tatsächlich
ausführt	VVFIN	ausführen
.	$.	.
In	APPR	in
Umsetzung	NN	Umsetzung
des	ART	die
Auftrags	NN	Auftrag
,	$,	,
die	PRELS	die
IBB	ADJD	<unknown>
als	KOKOM	als
Partnerin	NN	Partnerin
der	ART	die
Berliner	ADJA	Berliner
Wirtschaft	NN	Wirtschaft
,	$,	,
insbesondere	ADV	insbesondere
des	ART	die
Mittelstands	NN	Mittelstand
zu	PTKZU	zu
positionieren	VVINF	positionieren
,	$,	,
hat	VAFIN	haben
der	ART	die
Senat	NN	Senat
in	APPR	in
seiner	PPOSAT	sein
Sitzung	NN	Sitzung
am	APPRART	an
22.12.2015	CARD	@card@
über	APPR	über
die	ART	die
nach-stehend	ADJD	<unknown>
erläuterte	ADJA	erläutert
Neuauflage	NN	Neuauflage
und	KON	und
Erweiterung	NN	Erweiterung
des	ART	die
Förderangebots	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
entschieden	VVPP	entscheiden
.	$.	.
I.	APPRART	in
Ziele	NN	Ziel
Der	ART	die
KMU-Fonds	NN	<unknown>
dient	VVFIN	dienen
der	ART	die
Finanzierung	NN	Finanzierung
von	APPR	von
Gründung	NN	Gründung
,	$,	,
Wachstum	NN	Wachstum
und	KON	und
Innovationsaktivitäten	NN	<unknown>
sowie	KON	sowie
der	ART	die
Verbesserung	NN	Verbesserung
der	ART	die
Kapitalstruktur	NN	Kapitalstruktur
von	APPR	von
mittelständischen	ADJA	mittelständisch
Unternehmen	NN	Unternehmen
durch	APPR	durch
Dar-lehen	NN	<unknown>
und	KON	und
darlehensähnliche	ADJA	<unknown>
Instrumente	NN	Instrument
.	$.	.
Damit	PAV	damit
soll	VMFIN	sollen
die	ART	die
Anzahl	NN	Anzahl
von	APPR	von
Gründungen	NN	Gründung
und	KON	und
Ar-beitsplätzen	NN	<unknown>
sowie	KON	sowie
die	ART	die
Produktivität	NN	Produktivität
und	KON	und
Wettbewerbsfähigkeit	NN	Wettbewerbsfähigkeit
von	APPR	von
insbesondere	ADV	insbesondere
kleinen	ADJA	klein
und	KON	und
mittleren	ADJA	mittler
Unternehmen	NN	Unternehmen
(	$(	(
KMU	NE	KMU
)	$(	)
,	$,	,
die	PRELS	die
aufgrund	APPR	aufgrund
geringer	ADJA	gering
Eigenkapitalausstattung	NN	Eigenkapitalausstattung
,	$,	,
fehlender	ADJA	fehlend
Si-cherheiten	NN	<unknown>
oder	KON	oder
kleinteiliger	ADJA	<unknown>
Finanzierungsbedarfe	NN	<unknown>
strukturelle	ADJA	strukturell
Probleme	NN	Problem
beim	APPRART	bei
Kreditzugang	NN	<unknown>
haben	VAFIN	haben
,	$,	,
erhöht	VVPP	erhöhen
werden	VAFIN	werden
.	$.	.
Darüber	PAV	darüber
hinaus	ADV	hinaus
sollen	VMFIN	sollen
Investitionen	NN	Investition
besonders	ADV	besonders
gefördert	VVPP	fördern
werden	VAINF	werden
,	$,	,
die	PRELS	die
die	ART	die
Energieeffizienz	NN	Energieeffizienz
in	APPR	in
Berliner	ADJA	Berliner
Unternehmen	NN	Unternehmen
verbessern	VVINF	verbessern
und	KON	und
die	ART	die
Nutzung	NN	Nutzung
erneuerbarer	ADJA	erneuerbar
Energien	NN	Energie
steigern	VVFIN	steigern
.	$.	.
II.	NE	II.
Ausgangslage	NN	Ausgangslage
und	KON	und
Bedarfsanalyse	NN	Bedarfsanalyse
.	$.	.
Aufgrund	APPR	aufgrund
eines	ART	eine
historisch	ADJD	historisch
niedrigen	ADJA	niedrig
Zinsniveaus	NN	Zinsniveau
und	KON	und
der	ART	die
positiven	ADJA	positiv
Konjunktur	NN	Konjunktur
ist	VAFIN	sein
die	ART	die
Fi-nanzierungssituation	NN	<unknown>
im	APPRART	in
Mittelstand	NN	Mittelstand
so	ADV	so
gut	ADJD	gut
wie	KOKOM	wie
nie	ADV	nie
zuvor	ADV	zuvor
,	$,	,
kleine	ADJA	klein
sowie	KON	sowie
junge	ADJA	jung
Unterneh-men	NN	<unknown>
haben	VAFIN	haben
aber	ADV	aber
weiterhin	ADV	weiterhin
deutlich	ADJD	deutlich
ausgeprägte	ADJA	ausgeprägt
strukturelle	ADJA	strukturell
Probleme	NN	Problem
beim	APPRART	bei
Kreditzu-gang	NN	<unknown>
,	$,	,
insbesondere	ADV	insbesondere
aufgrund	APPR	aufgrund
nicht	PTKNEG	nicht
ausreichender	ADJA	ausreichend
Sicherheiten	NN	Sicherheit
und	KON	und
geringer	ADJA	gering
Eigenkapi-talausstattung	NN	<unknown>
.	$.	.
Die	ART	die
2008/09er-Finanzkrise	NN	<unknown>
hat	VAFIN	haben
dazu	PAV	dazu
geführt	VVPP	führen
,	$,	,
dass	KOUS	dass
der	ART	die
Informationsbedarf	NN	Informationsbedarf
und	KON	und
die	ART	die
Sicherheitenanforderungen	NN	<unknown>
der	ART	die
Banken	NN	Bank
,	$,	,
und	KON	und
damit	KOUS	damit
die	ART	die
Risikoaversion	NN	<unknown>
,	$,	,
trotz	APPR	trotz
günstiger	ADJA	günstig
Refinanzierungsbedingungen	NN	<unknown>
gestiegen	VVPP	steigen
sind	VAFIN	sein
.	$.	.
.	$.	.
Bei	APPR	bei
innovativen	ADJA	innovativ
Vorhaben	NN	Vorhaben
wird	VAFIN	werden
dies	PDS	dies
durch	APPR	durch
die	ART	die
in	APPR	in
der	ART	die
Natur	NN	Natur
solcher	PIAT	solche
Projekte	NN	Projekt
liegenden	ADJA	liegend
Erfolgsunsicherheiten	NN	<unknown>
verschärft	VVPP	verschärfen
.	$.	.
Die	ART	die
mit	APPR	mit
solchen	PIAT	solche
Vorhaben	NN	Vorhaben
verbundenen	ADJA	verbunden
Amortisations-zeiten	NN	<unknown>
und	KON	und
Unwägbarkeiten	NN	Unwägbarkeit
bei	APPR	bei
der	ART	die
Markteinführung	NN	Markteinführung
führen	VVFIN	fahren|führen
bei	APPR	bei
jungen	ADJA	jung
Unternehmen	NN	Unternehmen
fast	ADV	fast
zwingend	ADJD	zwingend
zu	APPR	zu
einer	ART	eine
schlechten	ADJA	schlecht
Bonität	NN	Bonität
mit	APPR	mit
der	ART	die
Folge	NN	Folge
der	ART	die
Kreditablehnung	NN	<unknown>
.	$.	.
Neugründun-gen	NN	<unknown>
und	KON	und
sehr	ADV	sehr
junge	ADJA	jung
Unternehmen	NN	Unternehmen
benötigen	VVFIN	benötigen
darüber	PAV	darüber
hinaus	ADV	hinaus
häufig	ADJD	häufig
nur	ADV	nur
relativ	ADJD	relativ
kleine	ADJA	klein
Kre-ditsummen	NN	<unknown>
,	$,	,
deren	PRELAT	die
Vergabe	NN	Vergabe
für	APPR	für
gewinnorientierte	ADJA	gewinnorientiert
Privatbanken	NN	Privatbank
aufgrund	APPR	aufgrund
der	ART	die
relativ	ADJD	relativ
be-trachtet	ADJA	<unknown>
zu	APPR	zu
hohen	ADJA	hoch
Bearbeitungs-	TRUNC	Bearbeitungs-
und	KON	und
Verwaltungskosten	NN	Verwaltungskosten
wirtschaftlich	ADJD	wirtschaftlich
nicht	PTKNEG	nicht
lohnend	ADJD	lohnend
sind	VAFIN	sein
.	$.	.
.	$.	.
Laut	APPR	laut
aktueller	ADJA	aktuell
Unternehmensbefragung	NN	<unknown>
der	ART	die
KfW-Bankengruppe	NN	<unknown>
(	$(	(
2015	CARD	@card@
)	$(	)
scheiterte	VVFIN	scheitern
rund	ADV	rund
ein	ART	eine
Siebtel	NN	Siebtel
der	ART	die
Unternehmen	NN	Unternehmen
in	APPR	in
Deutschland	NE	Deutschland
beim	APPRART	bei
Versuch	NN	Versuch
,	$,	,
ihren	PPOSAT	ihr
Finanzierungsbedarf	NN	Finanzierungsbedarf
mithilfe	APPR	mithilfe
von	APPR	von
Bankkrediten	NN	Bankkredit
insbesondere	ADV	insbesondere
mittel-	TRUNC	mittel-
und	KON	und
langfristige	ADJA	langfristig
-	$(	-
zu	PTKZU	zu
decken	VVINF	decken
.	$.	.
Kleine	ADJA	klein
Un-ternehmen	NN	<unknown>
(	$(	(
weniger	ADV	weniger
als	KOKOM	als
1	CARD	1
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
Umsatz	NN	Umsatz
)	$(	)
melden	VVFIN	melden
beinahe	ADV	beinahe
dreimal	ADV	dreimal
so	ADV	so
häufig	ADJD	häufig
Er-schwernisse	NN	<unknown>
beim	APPRART	bei
Kreditzugang	NN	<unknown>
wie	KOKOM	wie
Unternehmen	NN	Unternehmen
mit	APPR	mit
über	APPR	über
50	CARD	50
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
Umsatz	NN	Umsatz
.	$.	.
Auch	ADV	auch
22	CARD	22
%	NN	%
der	ART	die
jungen	ADJA	jung
Unternehmen	NN	Unternehmen
(	$(	(
jünger	ADJD	jung
als	KOKOM	als
sechs	CARD	sechs
Jahre	NN	Jahr
)	$(	)
beurteilen	VVFIN	beurteilen
das	ART	die
Finanzierungskli-ma	NN	<unknown>
schlechter	ADJD	schlecht
als	KOKOM	als
im	APPRART	in
Vorjahr	NN	Vorjahr
.	$.	.
.	$.	.
Auch	ADV	auch
der	ART	die
KMU-Report	NN	<unknown>
Berlin	NE	Berlin
der	ART	die
IBB	NN	<unknown>
(	$(	(
2015	CARD	@card@
)	$(	)
und	KON	und
die	ART	die
Konjunkturumfrage	NN	Konjunkturumfrage
2014	CARD	@card@
der	ART	die
Indust-rie-	TRUNC	<unknown>
und	KON	und
Handelskammer	NN	Handelskammer
zu	APPR	zu
Berlin	NE	Berlin
ergeben	VVPP	ergeben
,	$,	,
dass	KOUS	dass
rund	ADV	rund
ein	ART	eine
Viertel	NN	Viertel
der	ART	die
kleinen	ADJA	klein
und	KON	und
mittle-ren	ADJA	<unknown>
Unternehmen	NN	Unternehmen
Schwierigkeiten	NN	Schwierigkeit
mit	APPR	mit
der	ART	die
Finanzierung	NN	Finanzierung
haben	VAFIN	haben
,	$,	,
insbesondere	ADV	insbesondere
im	APPRART	in
Bereich	NN	Bereich
bis	APPR	bis
250	CARD	@card@
TEUR	NN	<unknown>
und	KON	und
ab	APPR	ab
1	CARD	1
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
.	$.	.
Darüber	PAV	darüber
hinaus	ADV	hinaus
ist	VAFIN	sein
die	ART	die
Finanzierung	NN	Finanzierung
neben	APPR	neben
fehlenden	ADJA	fehlend
Personalressourcen	NN	Personalressource
das	ART	die
größte	ADJA	groß
Problem	NN	Problem
bei	APPR	bei
der	ART	die
Einführung	NN	Einführung
und	KON	und
Umsetzung	NN	Umsetzung
von	APPR	von
Innova-tionen	NN	<unknown>
.	$.	.
.	$.	.
Bei	APPR	bei
der	ART	die
Umsetzung	NN	Umsetzung
der	ART	die
energie-	TRUNC	energie-
und	KON	und
klimapolitischen	ADJA	klimapolitisch
Ziele	NN	Ziel
ist	VAFIN	sein
das	ART	die
Potenzial	NN	Potenzial
von	APPR	von
Unter-nehmen	NN	<unknown>
,	$,	,
v.a.	NN	<unknown>
bei	APPR	bei
KMU	NE	KMU
,	$,	,
bei	APPR	bei
weitem	ADJA	weit
noch	ADV	noch
nicht	PTKNEG	nicht
ausgeschöpft	VVPP	ausschöpfen
.	$.	.
Bremsend	ADJD	bremsend
für	APPR	für
die	ART	die
Umset-zung	NN	<unknown>
von	APPR	von
Energieeffizienzmaßnahmen	NN	<unknown>
wirkt	VVFIN	wirken
sich	PRF	sich
aus	PTKVZ	aus
,	$,	,
dass	KOUS	dass
in	APPR	in
der	ART	die
Unternehmenspraxis	NN	Unternehmenspraxen
kurze	ADJA	kurz
Kapitalrücklaufzeiten	NN	<unknown>
für	APPR	für
getätigte	ADJA	getätigt
Investitionen	NN	Investition
verlangt	VVPP	verlangen
werden	VAFIN	werden
.	$.	.
Energieeinsparin-vestitionen	NN	<unknown>
mit	APPR	mit
längerer	ADJA	lang
Kapitalbindungsdauer	NN	<unknown>
werden	VAFIN	werden
daher	PAV	daher
trotz	APPR	trotz
positiver	ADJA	positiv
Verzinsung	NN	Verzinsung
häufig	ADJD	häufig
nicht	PTKNEG	nicht
umgesetzt	VVPP	umsetzen
.	$.	.
Für	APPR	für
29	CARD	@card@
%	NN	%
der	ART	die
Unternehmen	NN	Unternehmen
verhindert	VVFIN	verhindern
der	ART	die
Mangel	NN	Mangel
an	APPR	an
Finanzie-rungsquellen	NN	<unknown>
Investitionen	NN	Investition
in	APPR	in
Energieeffizienz	NN	Energieeffizienz
(	$(	(
KfW-Unternehmensbefragung	NN	<unknown>
2014)	NN	<unknown>
.	$.	.
.	$.	.
Um	KOUI	um
den	ART	die
Marktunvollkommenheiten	NN	<unknown>
beim	APPRART	bei
Zugang	NN	Zugang
zu	APPR	zu
Finanzierung	NN	Finanzierung
für	APPR	für
KMU	NE	KMU
,	$,	,
insbesondere	ADV	insbesondere
bei	APPR	bei
Gründungen	NN	Gründung
,	$,	,
Kleinstunternehmen	NN	Kleinstunternehmen
,	$,	,
innovativen	ADJA	innovativ
Vorhaben	NN	Vorhaben
und	KON	und
langfristigen	ADJA	langfristig
Investitio-nen	NN	<unknown>
entgegenzuwirken	VVIZU	entgegenwirken
und	KON	und
im	APPRART	in
Sinne	NN	Sinn
der	ART	die
revolvierenden	ADJA	<unknown>
Sicherung	NN	Sicherung
eines	ART	eine
Teils	NN	Teil
der	ART	die
Inves-titionsfinanzierung/-förderung	NN	<unknown>
in	APPR	in
Berlin	NE	Berlin
,	$,	,
wurde	VAFIN	werden
Ende	NN	Ende
2004	CARD	@card@
gemeinsam	ADJD	gemeinsam
vom	APPRART	von
Land	NN	Land
Berlin	NE	Berlin
und	KON	und
der	ART	die
IBB	NN	<unknown>
ein	ART	eine
gewinnorientiert	ADJD	gewinnorientiert
geführter	ADJA	geführt
Kreditfonds	NN	Kreditfonds
,	$,	,
der	ART	die
KMU-Fonds	NN	<unknown>
Berlin	NE	Berlin
,	$,	,
mit	APPR	mit
Mitteln	NN	Mittel|Mitteln
des	ART	die
Europäischen	ADJA	europäisch
Fonds	NN	Fonds
für	APPR	für
regionale	ADJA	regional
Entwicklung	NN	Entwicklung
(	$(	(
EFRE	NE	EFRE
)	$(	)
und	KON	und
Mitteln	NN	Mittel|Mitteln
der	ART	die
IBB	NN	<unknown>
aufgelegt	VVPP	auflegen
und	KON	und
in	APPR	in
der	ART	die
EFRE-Förderperiode	NN	<unknown>
2007-2013	CARD	@card@
fortgesetzt	VVPP	fortsetzen
.	$.	.
.	$.	.
Durch	APPR	durch
direkte	ADJA	direkt
Finanzierungen	NN	Finanzierung
,	$,	,
insbesondere	ADV	insbesondere
Mikrokredite	NN	<unknown>
,	$,	,
und	KON	und
gemeinsame	ADJA	gemeinsam
Finanzie-rungen	NN	<unknown>
mit	APPR	mit
den	ART	die
Hausbanken	NN	Hausbank
konnten	VMFIN	können
bisher	ADV	bisher
hohe	ADJA	hoch
Förderwirkungen	NN	<unknown>
erzielt	VVPP	erzielen
werden	VAINF	werden
.	$.	.
Durch	APPR	durch
den	ART	die
KMU-Fonds	NN	<unknown>
wurden	VAFIN	werden
seit	APPR	seit
2005	CARD	2005
in	APPR	in
mehr	ADV	mehr
als	KOKOM	als
2.000	CARD	@card@
Berliner	NN	Berliner
KMU	NE	KMU
über	APPR	über
100	CARD	100
Mio.	NE	<unknown>
EUR	NN	<unknown>
investiert	VVPP	investieren
,	$,	,
wobei	PWAV	wobei
zusätzliche	ADJA	zusätzlich
private	ADJA	privat
Investitionen	NN	Investition
durch	APPR	durch
die	ART	die
mitfinanzierenden	ADJA	<unknown>
Banken	NN	Bank
in	APPR	in
mindestens	ADV	mindestens
gleicher	ADJA	gleich
Höhe	NN	Höhe
gehebelt	VVPP	<unknown>
wurden	VAFIN	werden
.	$.	.
.	$.	.
Im	APPRART	in
Rahmen	NN	Rahmen
des	ART	die
genehmigten	ADJA	genehmigt
operationellen	ADJA	<unknown>
Programms	NN	Programm
(	$(	(
OP	NN	OP
)	$(	)
für	APPR	für
den	ART	die
EFRE	NE	EFRE
in	APPR	in
Berlin	NE	Berlin
in	APPR	in
der	ART	die
Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
ist	VAFIN	sein
eine	PIS	eine
der	ART	die
Investitionsprioritäten	NN	<unknown>
,	$,	,
die	ART	die
Produktivität	NN	Produktivität
der	ART	die
Ber-liner	ADJA	<unknown>
Wirtschaft	NN	Wirtschaft
durch	APPR	durch
betriebliche	ADJA	betrieblich
Investitionen	NN	Investition
,	$,	,
betriebliches	ADJA	betrieblich
Wachstum	NN	Wachstum
und	KON	und
Gründun-gen	NN	<unknown>
vor	APPR	vor
allem	PIS	alle
in	APPR	in
Industrie	NN	Industrie
und	KON	und
wissensintensiven	ADJA	<unknown>
Dienstleistungen	NN	Dienstleistung
zu	PTKZU	zu
erhöhen	VVINF	erhöhen
.	$.	.
Laut	APPR	laut
OP	NN	OP
soll	VMFIN	sollen
das	ART	die
Ziel	NN	Ziel
im	APPRART	in
Wesentlichen	NN	Wesentliche
über	APPR	über
die	ART	die
Darlehensvergabe	NN	Darlehensvergabe
an	APPR	an
KMU	NE	KMU
durch	APPR	durch
den	ART	die
KMU-Fonds	NN	<unknown>
erfolgen	VVINF	erfolgen
,	$,	,
welcher	PWS	welche
bereits	ADV	bereits
in	APPR	in
der	ART	die
vergangenen	ADJA	vergangen
Förderperiode	NN	<unknown>
umgesetzt	VVPP	umsetzen
wurde	VAFIN	werden
.	$.	.
.	$.	.
Darüber	PAV	darüber
hinaus	ADV	hinaus
soll	VMFIN	sollen
mit	APPR	mit
dem	ART	die
KMU-Fonds	NN	<unknown>
erstmals	ADV	erstmals
versucht	VVPP	versuchen
werden	VAINF	werden
,	$,	,
die	ART	die
Energieeffizienz	NN	Energieeffizienz
der	ART	die
Berliner	ADJA	Berliner
Unternehmen	NN	Unternehmen
zu	PTKZU	zu
steigern	VVINF	steigern
.	$.	.
Die	ART	die
in	APPR	in
der	ART	die
OP-Investitionspriorität	NN	<unknown>
Reduzierung	NN	Reduzierung
von	APPR	von
CO2-Emissionen	NN	CO2-Emission
geplanten	ADJA	geplant
Umweltkredite	NN	<unknown>
wurden	VAFIN	werden
eng	ADJD	eng
mit	APPR	mit
den	ART	die
geplanten	ADJA	geplant
Maßnah-men	NN	<unknown>
der	ART	die
Senatsverwaltung	NN	Senatsverwaltung
für	APPR	für
Stadtentwicklung	NN	Stadtentwicklung
und	KON	und
Umwelt	NN	Umwelt
verzahnt	VVPP	verzahnen
.	$.	.
.	$.	.
Nach	APPR	nach
den	ART	die
Ergebnissen	NN	Ergebnis
einer	ART	eine
umfangreichen	ADJA	umfangreich
und	KON	und
unabhängigen	ADJA	unabhängig
,	$,	,
in	APPR	in
2014	CARD	@card@
durchgeführten	ADJA	durchgeführt
Ex-Ante-Evaluation	NN	<unknown>
fügt	VVFIN	fügen
sich	PRF	sich
der	ART	die
geplante	ADJA	geplant
KMU-Fonds	NN	<unknown>
kohärent	ADJD	kohärent
und	KON	und
komplementär	ADJD	komplementär
in	APPR	in
das	ART	die
bestehende	ADJA	bestehend
Angebot	NN	Angebot
an	APPR	an
Unterstützungsinstrumenten	NN	<unknown>
für	APPR	für
Gründungen	NN	Gründung
und	KON	und
betriebli-che	ADJA	<unknown>
Investitionen	NN	Investition
inkl.	APPR	inklusive
Maßnahmen	NN	Maßnahme
zur	APPRART	zu
Energieeinsparung	NN	Energieeinsparung
ein	PTKVZ	ein
und	KON	und
begegnet	VVFIN	begegnen
damit	PAV	damit
einer	ART	eine
nachgewiesenen	ADJA	nachgewiesen
Marktschwäche	NN	Marktschwäche
beim	APPRART	bei
Zugang	NN	Zugang
zu	APPR	zu
Finanzierung	NN	Finanzierung
für	APPR	für
KMU	NE	KMU
.	$.	.
.	$.	.
Um	KOUI	um
das	ART	die
erfolgreiche	ADJA	erfolgreich
Modell	NN	Modell
des	ART	die
KMU-Fonds	NN	<unknown>
auch	ADV	auch
in	APPR	in
der	ART	die
neuen	ADJA	neu
EFRE-Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
fortsetzen	VVINF	fortsetzen
zu	PTKZU	zu
können	VMINF	können
und	KON	und
dem	ART	die
in	APPR	in
der	ART	die
Ex-Ante-Evaluation	NN	<unknown>
quantifizierten	ADJA	<unknown>
Nach-fragepotential	NN	<unknown>
für	APPR	für
Förderkredite	NN	Förderkredit
zu	PTKZU	zu
begegnen	VVINF	begegnen
,	$,	,
wird	VAFIN	werden
die	ART	die
Fortführung	NN	Fortführung
bzw.	KON	bzw.
Neuauflage	NN	Neuauflage
des	ART	die
um	APPR	um
die	ART	die
Umweltkredite	NN	<unknown>
erweiterten	ADJA	erweitert
KMU-Fonds	NN	<unknown>
bei	APPR	bei
der	ART	die
IBB	NN	<unknown>
vorgeschlagen	VVPP	vorschlagen
.	$.	.
III.	ADJA	<unknown>
Geplante	NN	<unknown>
Maßnahme	NN	Maßnahme
.	$.	.
In	APPR	in
der	ART	die
Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
wird	VAFIN	werden
der	ART	die
bestehende	ADJA	bestehend
KMU-Fonds	NN	<unknown>
Berlin	NE	Berlin
bei	APPR	bei
der	ART	die
IBB	NN	<unknown>
durch	APPR	durch
neue	ADJA	neu
Kapitalbereitstellungen	NN	<unknown>
fortgeführt	VVPP	fortführen
und	KON	und
inhaltlich	ADJD	inhaltlich
erweitert	VVPP	erweitern
.	$.	.
Dafür	PAV	dafür
sind	VAFIN	sein
im	APPRART	in
Ber-liner	ADJA	<unknown>
OP	NN	OP
71,7	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
EFRE-Mittel	NN	<unknown>
vorgesehen	VVPP	vorsehen
.	$.	.
Die	ART	die
erforderliche	ADJA	erforderlich
Kofinanzierung	NN	<unknown>
i.H.v.	NE	<unknown>
ebenfalls	ADV	ebenfalls
71,7	CARD	@card@
Mio.	NE	<unknown>
EUR	NN	<unknown>
stellt	VVFIN	stellen
die	ART	die
IBB	NN	<unknown>
aus	APPR	aus
Eigenmitteln	NN	Eigenmittel
zur	APPRART	zu
Verfügung	NN	Verfügung
.	$.	.
.	$.	.
Entsprechend	ADJD	entsprechend
einer	ART	eine
zwischen	APPR	zwischen
dem	ART	die
Land	NN	Land
und	KON	und
der	ART	die
IBB	ADJD	<unknown>
abzuschließenden	ADJA	abzuschließend
Durchführungs-vereinbarung	NN	<unknown>
und	KON	und
in	APPR	in
Merkblättern	NN	Merkblatt
abgestimmten	ADJA	abgestimmt
Förderkriterien	NN	Förderkriterium
vergibt	VVFIN	vergeben
die	ART	die
IBB	NN	<unknown>
die	ART	die
Kredi-te	NN	<unknown>
aus	APPR	aus
dem	ART	die
KMU-Fonds	NN	<unknown>
direkt	ADJD	direkt
oder	KON	oder
-	$(	-
im	APPRART	in
Rahmen	NN	Rahmen
konkreter	ADJA	konkret
Förderprogramme	NN	Förderprogramm
im	APPRART	in
Hausbankenverfahren	NN	<unknown>
an	APPR	an
Unternehmen	NN	Unternehmen
.	$.	.
.	$.	.
Mindestens	ADV	mindestens
ein	ART	eine
Drittel	NN	Drittel
der	ART	die
Mittel	NN	Mittel
ist	VAFIN	sein
für	APPR	für
die	ART	die
Fortführung	NN	Fortführung
der	ART	die
Mikrokredite	NN	<unknown>
bis	APPR	bis
25	CARD	25
TEUR	NN	<unknown>
im	APPRART	in
vereinfachten	ADJA	vereinfacht
Verfahren	NN	Verfahren
sowie	KON	sowie
der	ART	die
Finanzierung	NN	Finanzierung
von	APPR	von
Gründungen	NN	Gründung
über	APPR	über
das	ART	die
Programm	NN	Programm
Berlin	NE	Berlin
Start	NN	Start
in	APPR	in
Kooperation	NN	Kooperation
mit	APPR	mit
den	ART	die
Hausbanken	NN	Hausbank
und	KON	und
der	ART	die
Bürgschaftsbank	NN	Bürgschaftsbank
reserviert	VVPP	reservieren
.	$.	.
.	$.	.
Entsprechend	ADJD	entsprechend
des	ART	die
OP-Ziels	NN	<unknown>
,	$,	,
die	ART	die
Produktivität	NN	Produktivität
der	ART	die
Berliner	ADJA	Berliner
Wirtschaft	NN	Wirtschaft
zu	PTKZU	zu
stärken	VVINF	stärken
,	$,	,
sollen	VMFIN	sollen
die	ART	die
Wachstumskredite	NN	<unknown>
ein	ART	eine
höheres	ADJA	hoch
Gewicht	NN	Gewicht
bekommen	VVPP	bekommen
als	KOKOM	als
bisher	ADV	bisher
.	$.	.
Dafür	PAV	dafür
ist	VAFIN	sein
rund	ADV	rund
ein	ART	eine
wei-teres	ADJA	<unknown>
Drittel	NN	Drittel
der	ART	die
Fondsmittel	NN	Fondsmittel
vorgesehen	VVPP	vorsehen
.	$.	.
Neben	APPR	neben
Krediten	NN	Kredit
,	$,	,
die	PRELS	die
im	APPRART	in
Konsortialverfahren	NN	<unknown>
,	$,	,
di-rekt	NN	<unknown>
oder	KON	oder
im	APPRART	in
Hausbankenverfahren	NN	<unknown>
vergeben	VVPP	vergeben
werden	VAFIN	werden
,	$,	,
werden	VAFIN	werden
auch	ADV	auch
darlehensähnliche	VVFIN	<unknown>
,	$,	,
mezzanine	NE	<unknown>
Finanzierungen	NN	Finanzierung
angeboten	VVPP	anbieten
.	$.	.
Damit	PAV	damit
wird	VAFIN	werden
einer	ART	eine
Empfehlung	NN	Empfehlung
der	ART	die
Ex-Ante-Evaluation	NN	<unknown>
,	$,	,
die	PRELS	die
Berlin	NE	Berlin
Kapital	NN	Kapital
/	$(	/
Mezzanine	NE	<unknown>
Fonds	NN	Fonds
in	APPR	in
den	ART	die
KMU-Fonds	NN	<unknown>
zu	PTKZU	zu
integrieren	VVINF	integrieren
,	$,	,
ent-sprochen	VVFIN	<unknown>
.	$.	.
.	$.	.
Neu	ADJD	neu
ist	VAFIN	sein
der	ART	die
gezielte	ADJA	gezielt
Versuch	NN	Versuch
,	$,	,
bei	APPR	bei
Erweiterungs-	TRUNC	Erweiterungs-
und	KON	und
Ersatzinvestitionen	NN	Ersatzinvestition
der	ART	die
Unternehmen	NN	Unternehmen
Anreize	NN	Anreiz
zur	APPRART	zu
Energieeinsparung	NN	Energieeinsparung
zu	PTKZU	zu
setzen	VVINF	setzen
.	$.	.
Im	APPRART	in
Rahmen	NN	Rahmen
des	ART	die
Programms	NN	Programm
Berlin	NE	Berlin
Kredit	NN	Kredit
wird	VAFIN	werden
ein	ART	eine
zusätzlich	ADJD	zusätzlich
zinsverbilligtes	ADJA	zinsverbilligt
Umweltfenster	NN	<unknown>
angeboten	VVPP	anbieten
.	$.	.
Für	APPR	für
die	ART	die
Umweltkredite	NN	<unknown>
stehen	VVFIN	stehen
20	CARD	20
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
EFRE-Mittel	NN	<unknown>
aus	APPR	aus
der	ART	die
OP-Prioritätsachse	NN	<unknown>
Reduzierung	NN	Reduzierung
von	APPR	von
CO2-Emissionen	NN	CO2-Emission
zur	APPRART	zu
Verfügung	NN	Verfügung
.	$.	.
Die	ART	die
zusätzliche	ADJA	zusätzlich
Zinssubventionierung	NN	<unknown>
sowie	KON	sowie
eine	ART	eine
kostenlose	ADJA	kostenlos
Bestätigung	NN	Bestätigung
und	KON	und
Quantifizierung	NN	Quantifizierung
der	ART	die
Energieeinsparung	NN	Energieeinsparung
durch	APPR	durch
die	ART	die
IBB	NN	<unknown>
soll	VMFIN	sollen
über	APPR	über
den	ART	die
Berlin-Beitrag	NN	<unknown>
fi-nanziert	VVPP	<unknown>
werden	VAINF	werden
.	$.	.
IV	NE	IV
.	$.	.
Eckpunkte	NN	Eckpunkt
des	ART	die
KMU-Fonds	NN	<unknown>
Organigramm	NN	Organigramm
Zielgruppe	NN	Zielgruppe
Unternehmen	NN	Unternehmen
,	$,	,
insbesondere	ADV	insbesondere
KMU	NE	KMU
,	$,	,
Freiberufler	NN	Freiberufler
sowie	KON	sowie
natürliche	ADJA	natürlich
Personen	NN	Person
während	APPR	während
der	ART	die
Existenzgründungsphase	NN	<unknown>
mit	APPR	mit
Sitz	NN	Sitz
oder	KON	oder
Be-triebsstätte	NN	<unknown>
in	APPR	in
Berlin	NE	Berlin
.	$.	.
Ausgeschlossen	ADJD	ausgeschlossen
sind	VAFIN	sein
Unternehmen	NN	Unternehmen
in	APPR	in
Schwie-rigkeiten	NN	<unknown>
sowie	KON	sowie
Unternehmen	NN	Unternehmen
der	ART	die
Sektoren	NN	Sektor
Landwirtschaft	NN	Landwirtschaft
,	$,	,
Fische-rei	NN	<unknown>
,	$,	,
Fischzucht	NN	Fischzucht
,	$,	,
Kohle	NN	Kohle
und	KON	und
Bergbau	NN	Bergbau
Finanzierungsart	NN	Finanzierungsart
Darlehen	NN	Darlehen
,	$,	,
Nachrangdarlehen	NN	<unknown>
und	KON	und
typische	ADJA	typisch
stille	ADJA	still
Beteiligungen	NN	Beteiligung
vor-rangig	ADJD	<unknown>
gemeinsam	ADJD	gemeinsam
mit	APPR	mit
einer	ART	eine
Geschäftsbank	NN	Geschäftsbank
(	$(	(
Mikrokredite	NN	<unknown>
grundsätz-lich	ADJD	<unknown>
ohne	APPR	ohne
Beteiligung	NN	Beteiligung
einer	ART	eine
Geschäftsbank	NN	Geschäftsbank
)	$(	)
Höhe	NN	Höhe
Mikrokredite	NN	<unknown>
im	APPRART	in
vereinfachten	ADJA	vereinfacht
Verfahren	NN	Verfahren
bis	KON	bis
zu	APPR	zu
25	CARD	25
TEUR	NN	<unknown>
,	$,	,
Gründungsdarlehen	NN	<unknown>
i.d.R.	NE	<unknown>
bis	KON	bis
zu	APPR	zu
250	CARD	@card@
TEUR	NN	<unknown>
und	KON	und
Wachstumsfinan-zierungen	NN	<unknown>
bis	KON	bis
zu	APPR	zu
10	CARD	10
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
Finanzierungszweck	NN	<unknown>
Entwicklung	NN	Entwicklung
und	KON	und
Ausbau	NN	Ausbau
der	ART	die
allgemeinen	ADJA	allgemein
Wirtschaftstätigkeit	NN	Wirtschaftstätigkeit
,	$,	,
ins-besondere	VVFIN	<unknown>
:	$.	:
.	$.	.
alle	PIAT	alle
Investitionen	NN	Investition
,	$,	,
die	PRELS	die
einer	ART	eine
mittel-	TRUNC	mittel-
und	KON	und
langfristigen	ADJA	langfristig
Mittelbereit-stellung	NN	<unknown>
bedürfen	VVFIN	bedürfen
.	$.	.
Gründungsfinanzierungen	NN	<unknown>
inkl.	APPR	inklusive
Übernahmen	NN	Übernahme
.	$.	.
Auftragsvorfinanzierung	NN	<unknown>
,	$,	,
Produktentwicklung	NN	Produktentwicklung
und	KON	und
einführung	NN	Einführung
.	$.	.
Betriebsmittel	NN	Betriebsmittel
im	APPRART	in
Zusammenhang	NN	Zusammenhang
mit	APPR	mit
einer	ART	eine
Erweiterung	NN	Erweiterung
oder	KON	oder
Stärkung	NN	Stärkung
der	ART	die
Aktivitäten	NN	Aktivität
des	ART	die
Unternehmens	NN	Unternehmen
Das	ART	die
zu	APPR	zu
finanzierende	ADJA	finanzierend
Vorhaben	NN	Vorhaben
muss	VMFIN	müssen
in	APPR	in
Berlin	NE	Berlin
durchgeführt	VVPP	durchführen
werden	VAINF	werden
.	$.	.
Auszahlung	NN	Auszahlung
100	CARD	100
%	NN	%
Laufzeit	NN	Laufzeit
Grundsätzlich	ADJD	grundsätzlich
bis	APPR	bis
zu	APPR	zu
20	CARD	20
Jahre	NN	Jahr
Verzinsung	NN	Verzinsung
Die	ART	die
Festlegung	NN	Festlegung
erfolgt	VVFIN	erfolgen
marktüblich	ADJD	marktüblich
durch	APPR	durch
den	ART	die
Fonds	NN	Fonds
,	$,	,
bei	APPR	bei
Konsortial-finanzierungen	NN	<unknown>
in	APPR	in
Abstimmung	NN	Abstimmung
mit	APPR	mit
dem	ART	die
privaten	ADJA	privat
Kofinanzierer	NN	<unknown>
.	$.	.
Tilgung	NN	Tilgung
Die	ART	die
Tilgung	NN	Tilgung
erfolgt	VVFIN	erfolgen
bei	APPR	bei
Darlehen	NN	Darlehen
i.d.R.	NE	<unknown>
in	APPR	in
Raten	NN	Rate|Raten
,	$,	,
tilgungsfreie	ADJA	tilgungsfrei
Zeit-räume	NN	<unknown>
sind	VAFIN	sein
vereinbar	ADJD	vereinbar
.	$.	.
Bei	APPR	bei
mezzaninen	ADJA	<unknown>
Finanzierungen	NN	Finanzierung
erfolgt	VVFIN	erfolgen
die	ART	die
Tilgung	NN	Tilgung
i.d.R.	NE	<unknown>
endfällig	ADJD	<unknown>
.	$.	.
Sicherheiten	NN	Sicherheit
Die	ART	die
Finanzierungen	NN	Finanzierung
sind	VAFIN	sein
bankenüblich	ADJD	<unknown>
zu	PTKZU	zu
besichern	VVINF	<unknown>
.	$.	.
Bei	APPR	bei
Mikrokredi-ten	NN	<unknown>
wird	VAFIN	werden
auf	APPR	auf
die	ART	die
Stellung	NN	Stellung
von	APPR	von
Sicherheiten	NN	Sicherheit
verzichtet	VVPP	verzichten
.	$.	.
Sonstige	ADJA	sonstig
Kosten	NN	Kosten
Bereitstellungszinsen	NN	Bereitstellungszins
und	KON	und
Vorfälligkeitsentschädigungen	NN	<unknown>
können	VMFIN	können
berechnet	VVPP	berechnen
werden	VAINF	werden
.	$.	.
Beihilfe	NN	Beihilfe
Die	ART	die
Finanzierungen	NN	Finanzierung
werden	VAFIN	werden
beihilfefrei	ADJD	<unknown>
oder	KON	oder
als	KOKOM	als
De-minimis-Beihilfe	NN	<unknown>
gemäß	APPR	gemäß
den	ART	die
Beihilferegelungen	NN	<unknown>
der	ART	die
EU	NN	EU
vergeben	VVINF	vergeben
.	$.	.
V.	APPR	v.
Bewirtschaftung	NN	Bewirtschaftung
.	$.	.
Der	ART	die
KMU-Fonds	NN	<unknown>
soll	VMFIN	sollen
als	KOKOM	als
separater	ADJA	separat
Finanzierungsblock	NN	<unknown>
der	ART	die
Investitionsbank	NN	Investitionsbank
Berlin	NE	Berlin
fortge-führt	VVPP	<unknown>
und	KON	und
mit	APPR	mit
71,7	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
EFRE-Mitteln	NN	<unknown>
aus	APPR	aus
dem	ART	die
OP	NN	OP
der	ART	die
Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
ausgestattet	VVPP	ausstatten
werden	VAINF	werden
.	$.	.
Die	ART	die
IBB	NN	<unknown>
stellt	VVFIN	stellen
die	ART	die
erforderliche	ADJA	erforderlich
nationale	ADJA	national
Kofinanzierung	NN	<unknown>
i.H.v.	NE	<unknown>
71,7	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
über	APPR	über
eine	ART	eine
Refinanzierung	NN	Refinanzierung
am	APPRART	an
Kapitalmarkt	NN	Kapitalmarkt
im	APPRART	in
eigenen	ADJA	eigen
Obligo	NN	<unknown>
zur	APPRART	zu
Verfügung	NN	Verfügung
.	$.	.
Die	ART	die
Mittel	NN	Mittel
werden	VAFIN	werden
buchhalterisch	ADJD	<unknown>
abgegrenzt	VVPP	abgrenzen
,	$,	,
um	KOUI	um
eine	ART	eine
separate	ADJA	separat
Berichterstattung	NN	Berichterstattung
und	KON	und
Abrechnung	NN	Abrechnung
zu	PTKZU	zu
gewährleisten	VVINF	gewährleisten
.	$.	.
.	$.	.
Der	ART	die
KMU-Fonds	NN	<unknown>
ist	VAFIN	sein
rentabilitätsorientiert	ADJD	<unknown>
entsprechend	ADJD	entsprechend
den	ART	die
Vorgaben	NN	Vorgabe
für	APPR	für
Finanzinstru-mente	NN	<unknown>
der	ART	die
EFRE-Verordnung	NN	<unknown>
(	$(	(
EU	NE	EU
)	$(	)
1303/2013	CARD	@card@
ausgerichtet	VVPP	ausrichten
,	$,	,
wobei	PWAV	wobei
die	ART	die
Besonderheiten	NN	Besonderheit
der	ART	die
Mikrokredite	NN	<unknown>
mit	APPR	mit
vergleichsweise	ADV	vergleichsweise
hohen	ADJA	hoch
Stück-	TRUNC	Stück-
und	KON	und
Risikokosten	NN	Risikokosten
berücksichtigt	VVFIN	berücksichtigen
wer-den	ADJD	<unknown>
müssen	VMINF	müssen
.	$.	.
Aus	APPR	aus
den	ART	die
Zinserträgen	NN	Zinsertrag
sollen	VMFIN	sollen
die	ART	die
Prozess-	TRUNC	Prozess-
,	$,	,
Risiko-	TRUNC	Risiko-
,	$,	,
Refinanzierungs-	TRUNC	<unknown>
und	KON	und
Eigenkapitalkosten	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
gedeckt	VVPP	decken
werden	VAFIN	werden
.	$.	.
Zusätzliche	ADJA	zusätzlich
Zinsverbilligungen	NN	Zinsverbilligung
für	APPR	für
Energie-effizienzmaßnahmen	NN	<unknown>
sind	VAFIN	sein
ggf.	ADV	ggf.
über	APPR	über
den	ART	die
Berlin-Beitrag	NN	<unknown>
abzudecken	VVIZU	abdecken
.	$.	.
Die	ART	die
Finanzierungs-entscheidungen	NN	<unknown>
werden	VAFIN	werden
durch	APPR	durch
ein	ART	eine
professionelles	ADJA	professionell
,	$,	,
unabhängiges	ADJA	unabhängig
Fondsmanagement	NN	Fondsmanagement
in-nerhalb	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
getroffen	VVPP	treffen|triefen
.	$.	.
.	$.	.
Die	ART	die
Investitionsphase	NN	Investitionsphase
beginnt	VVFIN	beginnen
zum	APPRART	zu
01.01.2016	CARD	@card@
.	$.	.
Für	APPR	für
die	ART	die
Sicherstellung	NN	Sicherstellung
der	ART	die
EFRE-Förderfähigkeit	NN	<unknown>
muss	VMFIN	müssen
eine	ART	eine
Erstinvestition	NN	<unknown>
bis	KON	bis
zum	APPRART	zu
31.12.2023	CARD	@card@
erfolgen	VVINF	erfolgen
.	$.	.
Rückflüsse	NN	Rückfluss
aus	APPR	aus
den	ART	die
EFRE-Mitteln	NN	<unknown>
werden	VAFIN	werden
entsprechend	ADJD	entsprechend
den	ART	die
Vorgaben	NN	Vorgabe
in	APPR	in
der	ART	die
EU-Verordnung	NN	EU-Verordnung
und	KON	und
einer	ART	eine
Durchführungsvereinbarung	NN	Durchführungsvereinbarung
mit	APPR	mit
dem	ART	die
Land	NN	Land
von	APPR	von
der	ART	die
IBB	NN	<unknown>
mindestens	ADV	mindestens
acht	CARD	acht
weitere	ADJA	weit
Jahre	NN	Jahr
revolvierend	ADJD	<unknown>
im	APPRART	in
KMU-Fonds	NN	<unknown>
und	KON	und
darüber	PAV	darüber
hinaus	ADV	hinaus
dauerhaft	ADJD	dauerhaft
in	APPR	in
Finanzinstrumenten	NN	<unknown>
zu-gunsten	VVFIN	<unknown>
von	APPR	von
KMU	NE	KMU
eingesetzt	VVPP	einsetzen
.	$.	.
.	$.	.
Im	APPRART	in
Kontext	NN	Kontext
der	ART	die
Risikotragfähigkeit	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
wird	VAFIN	werden
sich	PRF	sich
durch	APPR	durch
die	ART	die
Ausweitung	NN	Ausweitung
des	ART	die
zur	APPRART	zu
Verfü-gung	NN	<unknown>
stehenden	ADJA	stehend
Investitionsvolumens	NN	Investitionsvolumen
im	APPRART	in
Bereich	NN	Bereich
KMU-Kredite	NN	<unknown>
das	ART	die
Kreditrisiko	NN	Kreditrisiko
nur	ADV	nur
un-wesentlich	ADJD	<unknown>
erhöhen	VVINF	erhöhen
.	$.	.
Mit	APPR	mit
der	ART	die
Fortführung	NN	Fortführung
des	ART	die
KMU-Fonds	NN	<unknown>
ist	VAFIN	sein
auch	ADV	auch
in	APPR	in
der	ART	die
Zukunft	NN	Zukunft
keine	PIAT	keine
Abweichung	NN	Abweichung
von	APPR	von
der	ART	die
Risikostrategie	NN	<unknown>
der	ART	die
IBB	NN	<unknown>
und	KON	und
den	ART	die
allgemein	ADJD	allgemein
geltenden	ADJA	geltend
Mindestrating-klassen	NN	<unknown>
vorgesehen	VVPP	vorsehen
.	$.	.
Die	ART	die
strukturellen	ADJA	strukturell
Risiken	NN	Risiko
werden	VAFIN	werden
auch	ADV	auch
weiterhin	ADV	weiterhin
durch	APPR	durch
eine	ART	eine
intensi-ve	NN	<unknown>
Kreditprüfung	NN	<unknown>
eingegrenzt	VVPP	eingrenzen
.	$.	.
Die	ART	die
höheren	ADJA	hoch
Risiken	NN	Risiko
bei	APPR	bei
den	ART	die
Mikrokrediten	NN	<unknown>
im	APPRART	in
vereinfach-ten	ADJA	<unknown>
Verfahren	NN	Verfahren
werden	VAFIN	werden
durch	APPR	durch
eine	ART	eine
betragliche	ADJA	<unknown>
Deckelung	NN	Deckelung
eingegrenzt	VVPP	eingrenzen
.	$.	.
.	$.	.
Mit	APPR	mit
dem	ART	die
KMU-Fonds	NN	<unknown>
sollen	VMFIN	sollen
in	APPR	in
der	ART	die
Förderperiode	NN	<unknown>
schätzungsweise	ADV	schätzungsweise
bis	APPR	bis
zu	APPR	zu
3.000	CARD	@card@
Berliner	ADJA	Berliner
Unternehmen	NN	Unternehmen
finanziert	VVPP	finanzieren
,	$,	,
5.000	CARD	@card@
neue	ADJA	neu
Arbeitsplätze	NN	Arbeitsplatz
geschaffen	VVPP	schaffen
,	$,	,
20.000	CARD	@card@
Arbeitsplätze	NN	Arbeitsplatz
gesi-chert	VVFIN	<unknown>
und	KON	und
ein	ART	eine
induziertes	ADJA	<unknown>
Gesamtinvestitionsvolumen	NN	Gesamtinvestitionsvolumen
von	APPR	von
rund	ADV	rund
500	CARD	500
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
gehebelt	VVPP	<unknown>
werden	VAINF	werden
.	$.	.
B.	APPRART	bei
Rechtsgrundlage	NN	Rechtsgrundlage
:	$.	:
§	NN	§
6	CARD	6
Abs.	NN	Abs.
4	CARD	4
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
vom	APPRART	von
25	CARD	25
.	$.	.
Mai	NN	Mai
2004	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
227	CARD	@card@
)	$(	)
,	$,	,
zuletzt	ADV	zuletzt
geändert	VVPP	ändern
durch	APPR	durch
Art.	NN	Art.
II	CARD	II
Gesetz	NN	Gesetz
zur	APPRART	zu
Änderung	NN	Änderung
zuständigkeitsrechtlicher	ADJA	<unknown>
Vorschriften	NN	Vorschrift
vom	APPRART	von
3	CARD	3
.	$.	.
Februar	NN	Februar
2010	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
45	CARD	45
)	$(	)
i.V.m.	NN	<unknown>
§	NN	§
5	CARD	5
Abs.	NN	Abs.
1	CARD	1
der	ART	die
Satzung	NN	Satzung
der	ART	die
IBB	NN	<unknown>
vom	APPRART	von
2	CARD	2
.	$.	.
September	NN	September
2004	CARD	@card@
(	$(	(
GVBl	NN	<unknown>
.	$.	.
S.	ADV	s.
372	CARD	@card@
)	$(	)
,	$,	,
§	NN	§
10	CARD	10
Nr.	NN	Nr.
23	CARD	23
GO	NE	GO
Senat	NN	Senat
;	$.	;
§	NN	§
21	CARD	21
Abs.	NN	Abs.
1	CARD	1
Nr.	NN	Nr.
2a	NE	<unknown>
)	$(	)
GGO	NE	<unknown>
II.	NE	II.
C.	NE	C.
Kostenauswirkungen	NN	<unknown>
auf	APPR	auf
Privathaushalte	NN	Privathaushalt
und/oder	KON	und/oder
Wirtschaftsunternehmen	NN	Wirtschaftsunternehmen
:	$.	:
Keine	PIAT	keine
unmittelbaren	ADJA	unmittelbar
Auswirkungen	NN	Auswirkung
.	$.	.
D.	ART	d.
Auswirkungen	NN	Auswirkung
auf	APPR	auf
die	ART	die
Zusammenarbeit	NN	Zusammenarbeit
mit	APPR	mit
dem	ART	die
Land	NN	Land
Brandenburg	NE	Brandenburg
:	$.	:
Keine	PIAT	keine
unmittelbaren	ADJA	unmittelbar
Auswirkungen	NN	Auswirkung
.	$.	.
E.	ART	e.
Auswirkungen	NN	Auswirkung
auf	APPR	auf
den	ART	die
Haushaltsplan	NN	Haushaltsplan
und	KON	und
die	ART	die
Finanzplanung	NN	Finanzplanung
:	$.	:
a	FM	a
)	$(	)
Auswirkungen	NN	Auswirkung
auf	APPR	auf
Einnahmen	NN	Einnahme
und	KON	und
Ausgaben	NN	Ausgabe
:	$.	:
Die	ART	die
an	APPR	an
die	ART	die
Fonds	NN	Fonds
vorgesehene	ADJA	vorgesehen
Zuführung	NN	Zuführung
aus	APPR	aus
EFRE-Mitteln	NN	<unknown>
i.H.v.	NE	<unknown>
insgesamt	ADV	insgesamt
71,7	CARD	@card@
Mio.	NE	<unknown>
EUR	NN	<unknown>
erfolgt	VVFIN	erfolgen
unter	APPR	unter
Beachtung	NN	Beachtung
der	ART	die
EU-Vorgaben	NN	<unknown>
entsprechend	ADJD	entsprechend
dem	ART	die
Operationellen	NN	<unknown>
Programm	NN	Programm
für	APPR	für
den	ART	die
EFRE	NE	EFRE
.	$.	.
Die	ART	die
Kofinanzierung	NN	<unknown>
erfolgt	VVFIN	erfolgen
durch	APPR	durch
Eigenmittel	NN	Eigenmittel
der	ART	die
IBB	NN	<unknown>
.	$.	.
Die	ART	die
Zuführung	NN	Zuführung
einer	ART	eine
ersten	ADJA	erst
Tranche	NN	Tranche
i.H.v.	NE	<unknown>
17,925	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
(	$(	(
12,925	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
für	APPR	für
KMU-Fonds	NN	<unknown>
und	KON	und
5	CARD	5
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
für	APPR	für
KMU-Fonds	NN	<unknown>
Umweltkredite	NN	<unknown>
)	$(	)
ist	VAFIN	sein
für	APPR	für
2016	CARD	@card@
geplant	VVPP	planen
.	$.	.
In	APPR	in
2017	CARD	@card@
sollen	VMFIN	sollen
dann	ADV	dann
dem	ART	die
KMU-Fonds	NN	<unknown>
Mittel	NN	Mittel
i.H.v.	NE	<unknown>
12,925	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
zugeführt	VVPP	zuführen
werden	VAINF	werden
.	$.	.
Mittel	NN	Mittel
in	APPR	in
entspre-chender	ADJA	<unknown>
Höhe	NN	Höhe
sind	VAFIN	sein
im	APPRART	in
Entwurf	NN	Entwurf
des	ART	die
Doppelhaushalts	NN	Doppelhaushalt
2016/2017	CARD	@card@
beim	APPRART	bei
Kapitel	NN	Kapitel
1330	CARD	@card@
,	$,	,
Titel	NN	Titel
69896	CARD	@card@
Zuführung	NN	Zuführung
an	APPR	an
Fonds	NN	Fonds
aus	APPR	aus
EFRE-Mitteln	NN	<unknown>
(	$(	(
Förderperiode	NN	<unknown>
2014-2020	CARD	@card@
)	$(	)
veranschlagt	VVPP	veranschlagen
.	$.	.
In	APPR	in
der	ART	die
Finanzplanung	NN	Finanzplanung
sind	VAFIN	sein
in	APPR	in
2018	CARD	@card@
für	APPR	für
den	ART	die
KMU-Fonds	NN	<unknown>
Umweltkredite	NN	<unknown>
5	CARD	5
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
und	KON	und
in	APPR	in
2019	CARD	@card@
für	APPR	für
den	ART	die
KMU-Fonds	NN	<unknown>
12,925	CARD	@card@
Mio.	ADJA	<unknown>
EUR	NN	<unknown>
berücksichtigt	VVPP	berücksichtigen
.	$.	.
b	ADJA	<unknown>
)	$(	)
Personalwirtschaftliche	NN	<unknown>
Auswirkungen	NN	Auswirkung
:	$.	:
Keine	PIAT	keine
.	$.	.
Gemäß	APPR	gemäß
§	NN	§
6	CARD	6
Abs.	NN	Abs.
4	CARD	4
des	ART	die
Investitionsbankgesetzes	NN	<unknown>
wird	VAFIN	werden
dem	ART	die
Abgeordnetenhaus	NN	Abgeordnetenhaus
hiervon	PAV	hiervon
Mittei-lung	NN	<unknown>
gemacht	VVPP	machen
.	$.	.
Berlin	NE	Berlin
,	$,	,
den	ART	die
22.Dezember	ADJA	<unknown>
2015	CARD	@card@
Der	ART	die
Senat	NN	Senat
von	APPR	von
Berlin	NE	Berlin
Michael	NE	Michael
M	NE	M
ü	ADJA	<unknown>
l	NN	l
l	NN	l
e	ADJA	<unknown>
r	ADJA	<unknown>
Cornelia	NE	Cornelia
Y	NN	Y
z	ADJA	<unknown>
e	NN	E
r	VVFIN	<unknown>
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
.	$.	.
.	$.	.
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
...	$.	...
Regierender	ADJA	regierender
Bürgermeister	NN	Bürgermeister
Senatorin	NN	Senatorin
für	APPR	für
Wirtschaft	NN	Wirtschaft
,	$,	,
Technologie	NN	Technologie
und	KON	und
Forschung	NN	Forschung
